@import "base/reset";
@import "utils/variables";
@import "utils/helpers";
@import "utils/mixins";

html {
  scroll-behavior: smooth;

  body {
    @extend .flexColumn;
    font-family: $font-primary;
    background-color: $color-primary-body;

    h1 {
      color: $color-primary-title;
      @include respondTo(sm) {
        color: red;
      }
      @include respondTo(xs) {
        color: purple;
      }
    }

    p {
        /* @extend .flexColumn; */
        @include displayFlexColumn(row);
        text-decoration: underline;
      @include respondTo(xs) {
        text-align: center;
        text-decoration: none;
      }
    }
  }
}
